<div class="footer">
  <div class="institucional">
    <hr />
    <h1 class="inst2">Institucional</h1>
    <ul class="inst">
      <li><a routerLink="">SOBRE NÓS</a></li>
      <li><a routerLink="">SUSTENTABILIDADE</a></li>
    </ul>
  </div>

  <div class="duvidas">
    <hr />
    <h1 class="duvidas2">Dúvidas</h1>
    <ul class="duvidas3">
      <li><a routerLink="">TROCAS E DEVOLUÇÕES</a></li>
      <li><a routerLink="">PAGAMENTOS E ENVIO</a></li>
      <li><a routerLink="">PRIVACIDADE E SEGURANÇA</a></li>
    </ul>
  </div>

  <div class="conta">
    <hr class="c" />
    <h1 class="conta2">MINHAS CONTAS</h1>
    <ul class="conta3">
      <li><a routerLink="">MINHA CONTA</a></li>
      <li><a routerLink="">MEUS PEDIDOS</a></li>
      <li><a routerLink="">MEUS FAVORITOS</a></li>
      <li><a routerLink="">CADASTRAR</a></li>
    </ul>
  </div>
  <hr class="traco" />

  <div class="cartao">
    <img src="assets/cartoes.jpg" />
  </div>

  <div class="atendimento">
    <h1>SAC</h1>
    <h1>Serviço de Atendimento ao Cliente:</h1>
    <h1>(11) 98165-2835</h1>
    <img src="assets/w.png" class="w" />
    <input type="button" value="CHAME-NOS NO WHATSZAP!" class="B" />
  </div>

  <div class="horario">
    <h1>Horario de Atendimento:</h1>
    <h3>das 9h ás 16h</h3>
    <h3>de Segunda a Sexta (Exceto feriados)</h3>
  </div>
</div>
