<div class="principal">
  <a routerLink="/index"> <img src="assets/logo.jpg" class="logo" /></a>
  <div class="botoes">
    <a routerLink=""> <img src="assets/lupa.png" class="lupa" /></a>
    <a routerLink=""> <img src="assets/usuario.png" class="usuario" /></a>
    <a routerLink=""> <img src="assets/sacola.png" class="sacola" /></a>
  </div>

  <nav>
    <ul>
      <li>
        <a routerLink="/novidades"><strong>Novidades</strong></a>
      </li>

      <li><a routerLink="/calcas">Calças</a></li>
      <li><a routerLink="/blusas">Blusas</a></li>
      <li><a routerLink="/vestidos">Vestidos</a></li>
      <li><a routerLink="/macacoeseconjuntos">Macacões e Conjuntos</a></li>
      <li><a routerLink="/colecoes">Coleções</a></li>
      <li><a routerLink="/acessorios">Acessórios</a></li>
      <li>
        <a routerLink="/cores"
          ><strong class="strong3">CORES PARA 2023</strong></a
        >
      </li>
      <li>
        <a routerLink="/bazar"><strong class="strong2">Bazar</strong></a>
      </li>
    </ul>
  </nav>
</div>
<hr />
<router-outlet></router-outlet>
