<div class="principal">
  <div>
    <img src="assets/banner.jpg" class="banner.jpg" />
  </div>

  <h1>
    VISITE NOSSO BAZAR CLICANDO <a routerLink=""><strong>AQUI!!</strong></a>
  </h1>

  <div class="filtro">
    <h1>FILTRAR POR:</h1>

    <div class="dropdown">
      <button class="dropbtn">COR</button>
      <div class="dropdown-content">
        <form action="/action_page.php">
          <input
            type="checkbox"
            id="vehicle1"
            name="vehicle1"
            value="cor"
            class="cor1"
          />
          <label for="cor1"> AMARELO</label><br />
          <input
            type="checkbox"
            id="vehicle2"
            name="vehicle2"
            value="cor"
            class="cor2"
          />
          <label for="cor2"> VERMELHO</label><br />
          <input
            type="checkbox"
            id="vehicle3"
            name="vehicle3"
            value="cor"
            class="cor3"
          />
          <label for="cor3"> ROXO</label><br /><br />
        </form>
      </div>
    </div>

    <div class="dropdown2">
      <button class="dropbtn2">TAMANHO</button>
      <div class="dropdown-content2">
        <form action="/action_page.php">
          <input
            type="checkbox"
            id="vehicle1"
            name="vehicle1"
            value="cor"
            class="cor1"
          />
          <label for="cor1"> GG</label><br />
          <input
            type="checkbox"
            id="vehicle2"
            name="vehicle2"
            value="cor"
            class="cor2"
          />
          <label for="cor2"> G</label><br />
          <input
            type="checkbox"
            id="vehicle3"
            name="vehicle3"
            value="cor"
            class="cor3"
          />
          <label for="cor3"> M</label><br /><br />
        </form>
      </div>
    </div>

    <div class="dropdown3">
      <button class="dropbtn3">TIPO</button>
      <div class="dropdown-content3">
        <form action="/action_page.php">
          <input
            type="checkbox"
            id="vehicle1"
            name="vehicle1"
            value="cor"
            class="cor1"
          />
          <label for="cor1"> VESTIDO</label><br />
          <input
            type="checkbox"
            id="vehicle2"
            name="vehicle2"
            value="cor"
            class="cor2"
          />
          <label for="cor2"> BLUSA</label><br />
          <input
            type="checkbox"
            id="vehicle3"
            name="vehicle3"
            value="cor"
            class="cor3"
          />
          <label for="cor3"> CAMISA</label><br /><br />
        </form>
      </div>
    </div>
  </div>

  <hr />

  <h1 class="H">ORDENAR POR:</h1>

  <div class="custom-select">
    <select>
      <option value="0">Nome</option>
      <option value="1">Preço</option>
      <option value="2">Mais Recentes</option>
      <option value="3">Mais Vendidos</option>
      <option value="4">Maiores Descontos</option>
    </select>
  </div>

  <div class="galeria">
    <div class="foto1">
      <img src="assets/blusa.jpg" />

      <h5 class="preco1">BLUSA NÓ FRENTE PRETA R$79,90</h5>
    </div>

    <div class="foto2">
        <img src="assets/blusa.jpg" />
  
        <h5 class="preco1">BLUSA NÓ FRENTE PRETA R$79,90</h5>
      </div>
      <div class="foto3">
        <img src="assets/blusa.jpg" />
  
        <h5 class="preco1">BLUSA NÓ FRENTE PRETA R$79,90</h5>
      </div>
  </div>

</div>
